<html>
<head>
    <title>用户登录</title>
</head>
<body>

    <form method="post" action="show.html">
        <div style="width: 300px;height:150px;border: solid black 1px;margin:auto">
            <h2 align="center">用户登录</h2>
            <div align="center">
                用户名：<input type="text" name="username"/>
            </div>
            <div align="center">
                用户名：<input type="password" name="password"/>
            </div>
            <div align="'center">
                <input type="submit" value="登录"/>
            </div>
        </div>
    </form>
</body>

</html>

